<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>

<% collector = can?(:collect, @presenter.id) %>
<% editor    = can?(:edit,    @presenter.id) %>

<%= render 'representative_media', work: @presenter %>
<%= render 'attributes', curation_concern: @presenter %>

<h2>List Pages</h2>
<ul>
<% @members.each do |member| %>
  <li>
    <%= link_to member['title_tesim'][0], main_app.curation_concerns_page_path(member['id']) %>
    <%# link_to member.title[0], main_app.curation_concerns_page_path(member) %>
  </li>
<% end %>
</ul>
<%= render 'related_files', presenter: @presenter %>
<% if editor %>
  <%= render 'multiple_upload', presenter: @presenter %>
<% end %>

<%= render "show_actions", collector: collector, editor: editor%>