<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h1>Listing Containers</h1>

  <table id='listContainers'>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @containers.each do |container| %>
        <tr>
          <td><%= container.title %></td>
          <td><%= link_to 'Show', container %></td>
          <td><%= link_to 'Edit', edit_container_path(container) %></td>
          <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
